@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap');

.template-homepage {
    background-color: #fffffe;
    font-family: 'Fira Code', monospace;
    color: Black;

}

.template-homepage .button {
    background-color: #ffd803;
    color: #272343;
    border-radius: 10px;
}


.template-homepage .custom {
    background-color: #bae8e8;
}

.template-homepage a {
    color: Black;
    text-decoration: none;
}

.template-homepage a:hover {
    color: #078080;

}
