{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
<div class="container" style="margin-bottom: 20px;">
    <div class="row">
        <div class="col">
            <div class="card">
  <div class="card-body">
             <h1>{{ page.title }}</h1>
            <p>{{ page.intro|richtext }}</p>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}

                <input type="submit" value="Envoyer" class="btn btn-success btn-sm">
            </form>
  </div>
</div>

        </div>
    </div>
</div>
{% endblock %}