{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}
<div class="container">
    {{ page.body|richtext }}
</div>

<a href="https://twitter.com/GabrielTrouve?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow
    @GabrielTrouve</a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
{% endblock content %}
