{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
<div class="container">
    <h1>{{ page.title }}</h1>

    {{ page.intro|richtext }}
</div>

<div class="container">
    <div class="row">
        {% for post in blogpages %}


        <div class="col-12" style="margin-bottom: 2rem;">


            <h2>{{ post.title }}</h2>
            <p>{{ post.specific.intro|richtext }}</p>
            <i>Le {{ post.specific.date }} par {{ post.owner }}</i>


            <a href="{% pageurl post %}" class="btn btn-success btn-sm">Lire la suite</a>


        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}