{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailcore_tags wagtailimages_tags %}



{% block header %}{{ page.title|richtext }}{% endblock %}

{% block content %}


<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row">
        {% for post in blogpages %}
        <div class="col-12">
            <!-- Post preview-->
            <div class="post-preview">
                <a href="{% pageurl post %}">
                    <h2 class="post-title">{{ post.title }}</h2>
                    <h3 class="post-subtitle">{{ post.specific.intro|richtext }}</h3>
                </a>
                <p class="post-meta">
                    Par
                    {{ post.owner }}
                    le {{ post.specific.date }}
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4"/>

        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}