{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block header %}{{ page.title|richtext }}{% endblock %}
{% block subheader %}{{ page.date }} par {{ page.owner }}{% endblock %}

{% block content %}



<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row">
            <div class="col-12">
                {{ page.intro|richtext }}
                {{ page.body }}
                <p><a href="{{ page.get_parent.url }}" class="btn btn-success btn-sm">Retour à l'index du blog</a></p>
            </div>
        </div>
    </div>
</article>


{% endblock %}